<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sld.business.mapper.SldComboMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sld.business.domain.SldCombo">
        <id column="id" property="id" />
        <result column="src_interface_open_record_id" property="srcInterfaceOpenRecordId" />
        <result column="src_trans_mid_open_record_id" property="srcTransMidOpenRecordId" />
        <result column="mid_db_open_record_id" property="midDbOpenRecordId" />
        <result column="mid_trans_target_open_record_id" property="midTransTargetOpenRecordId" />
        <result column="target_interface_open_record_id" property="targetInterfaceOpenRecordId" />
        <result column="desc" property="desc" />
        <result column="create_date" property="createDate" />
    </resultMap>

</mapper>
