<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sld.business.mapper.SldFieldMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sld.business.domain.SldField">
        <id column="id" property="id" />
        <result column="field_ch_name" property="fieldChName" />
        <result column="field_eng_name" property="fieldEngName" />
        <result column="field_type" property="fieldType" />
        <result column="is_list" property="isList" />
        <result column="list_type" property="listType" />
    </resultMap>

</mapper>
