<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sld.business.mapper.SldInterfaceOpenRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sld.business.domain.SldInterfaceOpenRecord">
        <id column="id" property="id" />
        <result column="interface_cn_ame" property="interfaceCnAme" />
        <result column="interface_eng_name" property="interfaceEngName" />
        <result column="protocol_code" property="protocolCode" />
        <result column="create_date" property="createDate" />
    </resultMap>

</mapper>
